<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>lnfopaw</title>
</head>
<body>
    <img src="{{ url_for('static', filename='mascot2.png')}}" alt="吉祥物" id="mascot" 
         style="max-width: 120px; max-height: 120px; width: auto; height: auto;
         position: fixed; bottom: 10px; right: 10px; z-index: 1000;">
    <h1>🐾 歡迎來到lnfopaw！</h1>
    <h2>你可以藉由這個網站看到Pexels的攝影師們捕抓到的動物們!</h2>
    <h2>動物圖片皆是來自 Pexels 網站的圖庫。</h2>
    <li><a href="/gallery">👉 動物圖片瀏覽網站</a></li>
    <li><a href="/freegames">🎮 限免遊戲通知頁面</a></li>

</body>
</html>
